<pre style="background-color:#eff1f5;color:#4c4f69">
<span style="color:#9ca0b0;font-style:italic;">/**</span>
<span style="color:#9ca0b0;font-style:italic;"> * </span><span style="color:#df8e1d;font-style:italic;">SPDX-FileCopyrightText:</span><span style="color:#9ca0b0;font-style:italic;"> 2020 Christoph Cullmann </span><span style="color:#8839ef;font-weight:bold;">&lt;cullmann@kde.org&gt;</span>
<span style="color:#9ca0b0;font-style:italic;"> * </span><span style="color:#df8e1d;font-style:italic;">SPDX-License-Identifier:</span><span style="color:#df8e1d;font-style:italic;"> </span><span style="color:#df8e1d;font-style:italic;">MIT</span>
<span style="color:#9ca0b0;font-style:italic;"> */</span>

<span style="color:#9ca0b0;font-style:italic;">// </span><span style="color:#9ca0b0;font-style:italic;">BEGIN</span>
<span style="color:#8839ef;">#include </span>&lt;string&gt;
<span style="color:#8839ef;">#include </span>&lt;QString&gt;
<span style="color:#9ca0b0;font-style:italic;">// </span><span style="color:#9ca0b0;font-style:italic;">END</span>

<span style="color:#9ca0b0;font-style:italic;">/**</span>
<span style="color:#9ca0b0;font-style:italic;"> * </span><span style="color:#dce0e8;background-color:#df8e1d;font-weight:bold;">TODO</span><span style="color:#9ca0b0;font-style:italic;">: improve documentation</span>
<span style="color:#9ca0b0;font-style:italic;"> * </span><span style="color:#d20f39;font-weight:bold;">@param</span><span style="color:#9ca0b0;font-style:italic;"> </span><span style="color:#9ca0b0;font-weight:bold;">magicArgument</span><span style="color:#9ca0b0;font-style:italic;"> some magic argument</span>
<span style="color:#9ca0b0;font-style:italic;"> * </span><span style="color:#d20f39;font-weight:bold;">@return</span><span style="color:#9ca0b0;font-style:italic;"> magic return value</span>
<span style="color:#9ca0b0;font-style:italic;"> */</span>
<span style="color:#8839ef;">int</span> main<span style="color:#04a5e5;">(</span><span style="color:#8839ef;">uint64_t</span> magicArgument<span style="color:#04a5e5;">)</span>
<span style="color:#04a5e5;">{</span>
    <span style="color:#8839ef;">if</span> <span style="color:#04a5e5;">(</span>magicArgument <span style="color:#04a5e5;">&gt;</span> <span style="color:#fe640b;">1</span><span style="color:#04a5e5;">)</span> <span style="color:#04a5e5;">{</span>
        <span style="color:#8839ef;">const</span> std::string<span style="color:#04a5e5;"> </span>string <span style="color:#04a5e5;">=</span> <span style="color:#40a02b;">&quot;source file: </span><span style="color:#ea76cb;">\&quot;</span><span style="color:#40a02b;">&quot;</span> __FILE__ <span style="color:#40a02b;">&quot;</span><span style="color:#ea76cb;">\&quot;</span><span style="color:#40a02b;">&quot;</span><span style="color:#04a5e5;">;</span>
        <span style="color:#8839ef;">const</span> QString qString<span style="color:#04a5e5;">(</span>QStringLiteral<span style="color:#04a5e5;">(</span><span style="color:#40a02b;">&quot;test&quot;</span><span style="color:#04a5e5;">))</span><span style="color:#04a5e5;">;</span>
        <span style="color:#8839ef;">return</span> qrand<span style="color:#04a5e5;">()</span><span style="color:#04a5e5;">;</span>
    <span style="color:#04a5e5;">}</span>

    <span style="color:#9ca0b0;font-style:italic;">/* </span><span style="color:#dce0e8;background-color:#df8e1d;font-weight:bold;">BUG</span><span style="color:#9ca0b0;font-style:italic;">: bogus integer constant inside next line */</span>
    <span style="color:#8839ef;">const</span> <span style="color:#8839ef;">double</span> g <span style="color:#04a5e5;">=</span> <span style="color:#fe640b;">1.1e12</span> <span style="color:#04a5e5;">*</span> <span style="color:#d20f39;">0b01'01'01'01</span> <span style="color:#04a5e5;">-</span> <span style="color:#fe640b;">43</span><span style="color:#d20f39;text-decoration:underline;">a</span> <span style="color:#04a5e5;">+</span> <span style="color:#d20f39;">0x11234</span> <span style="color:#04a5e5;">*</span> <span style="color:#d20f39;">0234</span><span style="color:#40a02b;">ULL</span> <span style="color:#04a5e5;">-</span> <span style="color:#ea76cb;">'c'</span> <span style="color:#04a5e5;">*</span> <span style="color:#fe640b;">42</span><span style="color:#04a5e5;">;</span>
    <span style="color:#8839ef;">return</span> g <span style="color:#04a5e5;">&gt;</span> <span style="color:#fe640b;">1.3</span><span style="color:#40a02b;">f</span><span style="color:#04a5e5;">;</span>
<span style="color:#04a5e5;">}</span>
</pre>
